In [37]:
#importing packages

import pandas as pd
import matplotlib.pyplot as plt

%matplotlib inline

In [38]:
#reading file

train = pd.read_csv('AppleStore.csv')

In [39]:
train.head()

,num,id,track_name,size_bytes,currency,price,rating_count_tot,rating_count_ver,user_rating,user_rating_ver,ver,cont_rating,prime_genre,sup_devices.num,ipadSc_urls.num,lang.num,vpp_lic
0,1,281656475,PAC-MAN Premium,100788224,USD,3.99,21292,26,4.0,4.5,6.3.5,4+,Games,38,5,10,1
1,2,281796108,Evernote - stay organized,158578688,USD,0.00,161065,26,4.0,3.5,8.2.2,4+,Productivity,37,5,23,1
2,3,281940292,"WeatherBug - Local Weather, Radar, Maps, Alerts",100524032,USD,0.00,188583,2822,3.5,4.5,5.0.0,4+,Weather,37,5,3,1
3,4,282614216,"eBay: Best App to Buy, Sell, Save! Online Shop...",128512000,USD,0.00,262241,649,4.0,4.5,5.10.0,12+,Shopping,37,5,9,1
4,5,282935706,Bible,92774400,USD,0.00,985920,5320,4.5,5.0,7.5.1,4+,Reference,37,5,45,1

In [40]:
train.drop("track_name",axis=1,inplace=True)
train.drop("id",axis=1,inplace=True)
train.drop("size_bytes",axis=1,inplace=True)
train.drop("user_rating_ver",axis=1,inplace=True)
train.drop("ver",axis=1,inplace=True)
train.drop("ipadSc_urls.num",axis=1,inplace=True)
train.drop("sup_devices.num",axis=1,inplace=True)
train.drop("vpp_lic",axis=1,inplace=True)
train.drop("rating_count_ver",axis=1,inplace=True)
train.drop("num",axis=1,inplace=True)
train.drop("currency",axis=1,inplace=True)

In [41]:
train.head()

   price  rating_count_tot  user_rating cont_rating   prime_genre  lang.num
0   3.99             21292          4.0          4+         Games        10
1   0.00            161065          4.0          4+  Productivity        23
2   0.00            188583          3.5          4+       Weather         3
3   0.00            262241          4.0         12+      Shopping         9
4   0.00            985920          4.5          4+     Reference        45

In [42]:
train.groupby('prime_genre')['user_rating'].count().sort_values(ascending=False)

prime_genre
Games                3862
Entertainment         535
Education             453
Photo & Video         349
Utilities             248
Health & Fitness      180
Productivity          178
Social Networking     167
Lifestyle             144
Music                 138
Shopping              122
Sports                114
Book                  112
Finance               104
Travel                 81
News                   75
Weather                72
Reference              64
Food & Drink           63
Business               57
Navigation             46
Medical                23
Catalogs               10
Name: user_rating, dtype: int64

In [43]:
#Making names to numbers

def fillGenre(prime_genre):
    prime_genre = prime_genre[0]
    if prime_genre=='Games':
        return 0
    elif prime_genre=='Entertainment':
        return 1
    elif prime_genre=='Education':
        return 2
    elif prime_genre=='Photo & Video':
        return 3
    elif prime_genre=='Utilities':
        return 4
    elif prime_genre=='Health & Fitness':
        return 5
    elif prime_genre=='Productivity':
        return 6
    elif prime_genre=='Social Networking':
        return 7
    else:
        return 8
train['prime_genre']=train[['prime_genre']].apply(fillGenre,axis=1)

In [44]:
train.head()

   price  rating_count_tot  user_rating cont_rating  prime_genre  lang.num
0   3.99             21292          4.0          4+            0        10
1   0.00            161065          4.0          4+            6        23
2   0.00            188583          3.5          4+            8         3
3   0.00            262241          4.0         12+            8         9
4   0.00            985920          4.5          4+            8        45

In [45]:
train.groupby('cont_rating')['user_rating'].count().sort_values(ascending=False)

cont_rating
4+     4433
12+    1155
9+      987
17+     622
Name: user_rating, dtype: int64

In [46]:
def fillGenre(cont_rating):
    cont_rating = cont_rating[0]
    if cont_rating=='4+':
        return 0
    elif cont_rating=='12+':
        return 1
    elif cont_rating=='9+':
        return 2
    else:
        return 4
train['cont_rating']=train[['cont_rating']].apply(fillGenre,axis=1)

In [47]:
train.head()

   price  rating_count_tot  user_rating  cont_rating  prime_genre  lang.num
0   3.99             21292          4.0            0            0        10
1   0.00            161065          4.0            0            6        23
2   0.00            188583          3.5            0            8         3
3   0.00            262241          4.0            1            8         9
4   0.00            985920          4.5            0            8        45

In [48]:
#changing floats to ints

def printNull(varible):
    varible = varible[0]
    if varible == None:
        print(varible)
    try:
        return int(varible)
    except:
        return 0

In [49]:
train['user_rating']=train[['user_rating']].apply(printNull,axis=1)
train['price']=train[['price']].apply(printNull,axis=1)

In [50]:
train.head()

   price  rating_count_tot  user_rating  cont_rating  prime_genre  lang.num
0      3             21292            4            0            0        10
1      0            161065            4            0            6        23
2      0            188583            3            0            8         3
3      0            262241            4            1            8         9
4      0            985920            4            0            8        45

In [51]:
from sklearn.model_selection import train_test_split

In [52]:
dummieStars = pd.get_dummies(train['user_rating'],drop_first=False)

In [53]:
X_train, X_test, y_train, y_test = train_test_split(train.drop('user_rating',axis=1),
                                                    train['user_rating'],test_size=0.3,
                                                    random_state=101)

In [54]:
from sklearn.linear_model import LogisticRegression
logmodel = LogisticRegression()
logmodel.fit(X_train,y_train)
predictions = logmodel.predict(X_test)
print(logmodel.score(X_train,y_train))

0.7176891006551519

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

In [55]:
#showing classification_report

from sklearn.metrics import classification_report
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

           0       0.91      0.94      0.92       284
           1       0.00      0.00      0.00        30
           2       0.00      0.00      0.00        97
           3       0.00      0.00      0.00       326
           4       0.68      0.99      0.81      1282
           5       0.00      0.00      0.00       141

    accuracy                           0.71      2160
   macro avg       0.27      0.32      0.29      2160
weighted avg       0.52      0.71      0.60      2160

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/sklearn/metrics/classification.py:1437: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples.
  'precision', 'predicted', average, warn_for)